/* Tweaks for mobile */
@media (max-width: 641px) {
  .content {
    margin: 0em;
  }
  .sidebar-nav {
    float: none;
    width: auto;
    position: relative;
  }
  h1 {
    text-align: center;
  }
  .stats {
    text-align: center;
    margin-top: 1em;
  }
  .stats .stat {
    float: none;
    display: inline;
  }
  .stat-widget-container .stat-widget {
    font-size: .5em;
  }
  img{
    max-width: 100%;
    }
}
@media (max-width: 900px) {
  body.http-error {
    font-size: .75em;
  }
  body.http-error .error-message {
    padding: 0em 1em;
  }
}
@media (max-width: 851px) {
  .stat-widget-container .stat-widget {
    font-size: .75em;
  }
}
@media (max-width: 767px) {
  footer hr {
    margin-left: 0em;
    margin-right: 0em;
  }
}
@media (max-width: 604px) {
  body.http-error {
    font-size: .5em;
  }
}