<!DOCTYPE html>
<html>
    <head>
        <title>[config_site_title] | Painel Administrativo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
        <script src="js/jquery/jquery-1.8.3.min.js" type="text/javascript"></script>
        <script src="js/jquery/jquery-ui-1.9.2.js" type="text/javascript"></script>
        <script src="js/admin/main.js" type="text/javascript"></script>
        <script src="js/admin/user.js" type="text/javascript"></script>
        <script src="js/jquery/bootstrap/js/bootstrap.js" type="text/javascript"></script>
        <link href="js/jquery/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <link href="js/jquery/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" />
        <link href="css/admin/main.css" rel="stylesheet" />       
    </head>
    <body>

        <div class="" id="main">

            <div class="row-fluid">
                <div id="top"><h1>[config_site_title]</h1></div>
            </div>

            <div class="row-fluid">
                <div class="span12 bar">
                    <div class="span3"></div>

                    <div class="span9">
                        <div class="pull-right btn-toolbar" style="margin: 0;margin-top:7px;">
                            <div class="btn-group dropdown">
                                <button class="btn-mini btn primary btn-inverse"> <i class="icon icon-user icon-white"></i> [user_name]</button>
                                <button class="btn-mini btn primary btn-inverse dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="[baseUri]/admin/usuario/me/" style="font-size: 9px;">Meus Dados</a></li>
                                    <li><a href="[baseUri]/admin/login/logout/" style="font-size: 9px;">Logout</a></li>
                                </ul>
                            </div>
                        </div>  
                    </div>
                </div>

                <div class="row-fluid">

                    <div class="span2 pull-left">
                        <dl id="nav-left">
                            <dt><a href="javascript:void(0);" id="dash"><i class="icon-th icon-white"></i> Dashboard <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/"><i class="icon-home icon-white"></i> Home</a></li>
                                    <li><a href="[baseUri]/admin/dashboard/itens/"><i class="icon-star icon-white"></i> Produtos Mais Visitados</a></li>
                                    <li><a href="[baseUri]/admin/pedido"><i class="icon-fire icon-white"></i> Últimos Pedidos</a></li>
                                    <li><a href="[baseUri]/admin/slideshow/"><i class="icon-camera icon-white"></i> Slideshow e Banners</a></li>
                                    <li><a href="[baseUri]/atd/" target="_blank"><i class="icon-comment icon-white"></i> Atendimento Online</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0);" id="m1"><i class="icon-filter icon-white"></i> Categorias <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/categoria/"><i class="icon-tag icon-white"></i> Gerenciar Categorias</a></li>
                                    <li><a href="[baseUri]/admin/subcategoria/"><i class="icon-tags icon-white"></i> Gerenciar Subcategorias</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0);"><i class="icon-gift icon-white"></i> Produtos <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/item/novo/"><i class="icon-plus-sign icon-white"></i> Cadastrar Produto</a></li>
                                    <li><a href="[baseUri]/admin/item/"><i class="icon-th-list icon-white"></i> Produtos Cadastrados</a></li>
                                    <li><a href="[baseUri]/admin/item/busca/"><i class="icon-search icon-white"></i> Pesquisar Produto</a></li>
                                    <li><a href="[baseUri]/admin/atributo/"><i class="icon-tags icon-white"></i> Gerenciar Atributos</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0);"><i class="icon-shopping-cart icon-white"></i> Pedidos <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/pedido/"><i class="icon-th-list icon-white"></i> Lista de Pedidos</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0);"><i class="icon-briefcase icon-white"></i> Clientes <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/cliente/"><i class="icon-th-list icon-white"></i> Lista de Clientes</a></li>
                                </ul>
                            </dd>
                            <dt class="[showhide]"><a href="javascript:void(0);"><i class="icon-minus-sign icon-white"></i> Cupons <b class="icon-chevron-down"></b></a></dt>
                            <dd class="[showhide]">
                                <ul>
                                    <li><a href="[baseUri]/admin/cupom/"><i class="icon-cog icon-white"></i> Gerenciar Cupons</a></li>
                                </ul>
                            </dd>                              
                            <dt><a href="javascript:void(0);"><i class="icon-barcode icon-white"></i> Pagamento <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/pagamento/pagseguro/"><i class="icon-cog icon-white"></i> Módulo PagSeguro</a></li>
                                    <li><a href="[baseUri]/admin/pagamento/paybras/"><i class="icon-cog icon-white"></i> Módulo PayBras</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0);"><i class="icon-road icon-white"></i> Frete e Entrega <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/frete/"><i class="icon-cog icon-white"></i> Opções de Frete</a></li>
                                    <li><a href="[baseUri]/admin/entrega/"><i class="icon-map-marker icon-white"></i> Frete Diferenciado</a></li>
                                    <li><a href="[baseUri]/admin/retirada/"><i class="icon-map-marker icon-white"></i> Locais de Retirada</a></li>
                                </ul>
                            </dd>
                            <dt><a href="javascript:void(0);"><i class="icon-file icon-white"></i> Páginas e Conteúdo <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/area/"><i class="icon-tag icon-white"></i> Gerenciar Áreas</a></li>
                                    <li><a href="[baseUri]/admin/pagina/"><i class="icon-pencil icon-white"></i> Gerenciar Páginas</a></li>
                                </ul>
                            </dd>                            
                            <dt><a href="javascript:void(0);"><i class="icon-wrench icon-white"></i> Configurações <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/configuracao/"><i class="icon-cog icon-white"></i> Informações da Loja</a></li>
                                    <li><a href="[baseUri]/admin/smtpc/"><i class="icon-envelope icon-white"></i> Configurar E-mail</a></li>
                                    <li><a href="[baseUri]/admin/social/"><i class="icon-retweet icon-white"></i> Plugin Redes Sociais</a></li>
                                </ul>
                            </dd>
                            <dt class="active"><a href="javascript:void(0);"><i class="icon-user icon-white icon-white"></i> Usuários do Sistema <b class="icon-chevron-down"></b></a></dt>
                            <dd>
                                <ul>
                                    <li><a href="[baseUri]/admin/usuario/operadores/"><i class="icon-user icon-white"></i> Operadores</a></li>
                                    <li><a href="[baseUri]/admin/usuario/administradores/"><i class="icon-user icon-white"></i> Administradores</a></li>
                                    <li><a class="active" href="[baseUri]/admin/usuario/novo/" ><i class="icon-plus-sign icon-white"></i> Novo Usuário</a></li>
                                </ul>
                            </dd>                            
                        </dl>                       
                    </div>                

                    <div class="span10 pull-right" id="sright">
                        <div class="row-fluid">
                            <div class="panel">
                                <div class="title-grid-inverse">
                                    <i class="icon-plus-sign icon-white"></i>  <b>Incluir Usuário do Sistema</b>
                                </div>
                                <form name="f-frete" id="f-frete" class="form mar-top-10" method="post" onSubmit="return validaAdd()"
                                      action="[baseUri]/admin/usuario/incluir/">

                                    <div class="input-prepend">
                                        <span class="add-on">Nome Completo: </span>
                                        <input class="span6" name="user_name" id="user_name" autocomplete="off" type="text" placeholder="Ex: João da Silva" />
                                    </div>

                                    <div class="input-prepend">
                                        <span class="add-on">E-mail: </span>
                                        <input class="span6" name="user_email" id="user_email" autocomplete="off" type="text" placeholder="Conta válida de e-mail" />
                                    </div>

                                    <div class="input-prepend">
                                        <span class="add-on">Nível de Acesso: </span>
                                        <select name="user_level" id="user_level" style="width: 410px">
                                            <option value="1">Operador</option>
                                            <option value="2">Administrador</option>
                                        </select>
                                    </div>

                                    <div class="input-prepend">
                                        <span class="add-on">Login: </span>
                                        <input class="span6" name="user_login" id="user_login" autocomplete="off" type="text" placeholder="Ex: admin, operador1..." />
                                    </div>

                                    <div class="input-prepend">
                                        <span class="add-on">Senha: </span>
                                        <input class="span6" name="user_password" id="user_password" autocomplete="off" type="password" placeholder="Senha do usuário." />
                                    </div>

                                    <div class="input-prepend">
                                        <span class="add-on">Senha (repetir): </span>
                                        <input class="span6" name="user_passwordr" id="user_passwordr" autocomplete="off" type="password" placeholder="Repetir a senha informada acima." />
                                    </div>



                                    <br />
                                    <button type="submit" class="btn" id="btn-add"><i class="icon-edit"></i> Cadastrar Usuário</button>
                                </form> 
                            </div>                            
                        </div>                                     
                    </div>

                </div>

                <div class="row-fluid">
                    <div class="span12 bar"></div>
                </div>           

                <div class="row-fluid">
                    <div id="footer"></div>
                </div>            

            </div> <!--row-flui-->
        </div> <!--end main-->

        <script>
            window.onload = function(){
                [msgOnload]                
            }
        </script>
    </body>
</html>
