<div id="top" class="container-fluid default">
    <div class="container">
        <div class="row-fluid">
            <div id="header"></div>
        </div>
    </div>
</div>
<div class="container-fluid" id="top-menu">
    <div class="container">
        <div class="logo">
            <img src="images/layout/logo.png" />
        </div>     
        <div class="navbar hide">
            <ul class="nav">
                <li id="home"><a href="[baseUri]/"><i class="icon-home icon-white"></i> HOME</a></li>
                <li id="promo"><a href="[baseUri]/index/promocoes/"><i class="icon-fire icon-white"></i> PROMOÇÕES</a></li>
                <li class="nologged"><a href="[baseUri]/cliente/login/"><i class="icon-user icon-white"></i> LOGIN</a></li>
                <li class="nologged"><a href="[baseUri]/cliente/cadastro/"><i class="icon-edit icon-white"></i> CADASTRE-SE</a></li>
                <li class="logged"><a href="[baseUri]/cliente/"><i class="icon-edit icon-white"></i> MINHA CONTA</a></li>
                <li id="atd"><a href="[baseUri]/atendimento/" ><i class="icon-envelope icon-white"></i> ATENDIMENTO</a></li>
                <li class="hide cart-hide"><a href="[baseUri]/carrinho/"><i class="icon-shopping-cart icon-white"></i>CARRINHO</a></li>
                <li class="logged logout"><a href="[baseUri]/cliente/logout/"><i class="icon-off icon-white"></i> SAIR</a></li>
            </ul>
        </div>
        <div class="form-busca"></div>  
    </div>
</div>    
