<!--{loop:i}-->
<!--{<div class="span2 item-box" preco="i.item_valor_sem_mask" id="i.item_id">}-->
<!--{  <a href="[baseUri]/produto/i.categoria_url/i.sub_url/i.item_url/i.item_id/">}-->
<!--{     <div class="box-item tips-top" title="ver detalhes">}-->
<!--{        <div class="box-item-oferta-i.item_oferta"><span class="label label-important">Oferta</span></div>}-->
<!--{        <div class="box-item-foto"><img src="[baseUri]/thumb/t/i.foto_url/160/160/ratio/"  /></div>}-->
<!--{        <div class="box-item-detalhe">}-->
<!--{          <h2>i.item_short_title</h2>}-->
<!--{          <h4 class="i.showHide">De R$ i.item_valor_original</h4>}-->
<!--{          <h3>i.item_preco <br/> <small>i.item_valor_parc</small></h3>}-->
<!--{        </div>}-->                            
<!--{     </div>}-->
<!--{  </a>}-->
<!--{</div>}-->
<!--{end:i}-->
<script type="text/javascript">[action_on_reload] /*show-hide btn-more*/ </script>