<div class="span3" id="left">
    <div id="nav-left">

        <div class="row-fluid">
            <div class="visible-desktop" >
                <h1><i class="icon-star icon-white itop-3"></i> Novos Produtos</h1>
                <div class="box-border">
                    <div class="flexslider carousel" id="mais-novos">
                        <ul class="slides"></ul>
                    </div>
                </div>
            </div>    
        </div>    

        <div class="row-fluid">
            <div class="visible-desktop" style="margin-top:55px !important;">
                <div class="flexslider" id="banner-left-300">
                    <ul class="slides"></ul>
                </div>
            </div>  
        </div>  

        <div class="row-fluid">
            <div class="visible-desktop" style="margin-top:55px !important;">
                <div class="flexslider" id="banner-left-600">
                    <ul class="slides"></ul>
                </div>
            </div>  
        </div>  

        <div id="cart-left" class="hidden-phone [carrinhoVazio]" style="margin-top: 50px !important;">
            <h1>
                <i class="icon-cart icon-white itop-3"></i> 
                <a href="[baseUri]/carrinho/" class="link-white" title="ir para o caixa"> 
                    Meu Carrinho 
                </a>
            </h1>
            <div class="cart-view" id="tbl_carrinho_left">
                <table>
                    <tbody>
                        <!--{loop:cart}-->
                        <!--{<tr id="tr_cart.cart_id">}-->
                        <!--{<td>}-->
                        <!--{<img src="[baseUri]/thumb/t/cart.item_foto/60/60/ratio/" />}-->
                        <!--{</td>}-->
                        <!--{<td>}-->
                        <!--{<p>}-->
                        <!--{<a href="[baseUri]/produto/cart.categoria_url/cart.sub_url/cart.item_url/cart.item_id/">cart.item_title cart.atributo_ped <br /> cart.item_qtde x R$ cart.item_preco </a>}-->
                        <!--{</p>}-->
                        <!--{</td>}-->
                        <!--{<td>}-->
                        <!--{<p><img src="images/icons/cartremove.png" class="btn-cart-remove-home pointer" id="cart.cart_id" title="remover item" /></p>}-->
                        <!--{</td>}-->                            
                        <!--{</tr>}-->
                        <!--{end:cart}-->
                    </tbody>
                </table>            
                <p id="left-cart-total" style="text-align:right"> 
                    <a href="[baseUri]/carrinho/" class="link-white" style="padding:8px; background: #1BA1E2;color:#fff"> 
                        <span id="total_compra"><strong>[cartTotal]</strong></span>
                    </a>
                </p>
            </div>
        </div>         

    </div>                       
</div>  
