<div id="carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <!--{loop:sli}--> 
        <!--{<li data-target="#carousel" data-slide-to="sli.slideto"></li>}-->
        <!--{end:sli}-->
    </ol> 
    <div class="carousel-inner">
        <!--{loop:sl}-->  
        <!--{<div class="item">}-->        
        <!--{<img src="[baseUri]/thumb/slide/sl.slide_url/870/320/crop/"  alt="">}-->    
        <!--{<div class="carousel-caption">}-->
        <!--{<a href="sl.slide_link" alt="">}-->
        <!--{<h4>sl.slide_title</h4>}-->
        <!--{<p>sl.slide_desc</p>}-->
        <!--{</a>}-->             
        <!--{</div>}-->             
        <!--{</div>}-->        
        <!--{end:sl}-->
    </div>
    <a class="carousel-control left" id="ctrl-left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" id="ctrl-right" href="#carousel" data-slide="next">&rsaquo;</a>    
</div>


